<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="theme-stylesheet" rel="stylesheet" href="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Personajes</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/personajes">CRUD Personajes</a>
                <select id="theme-selector" class="form-select form-select-sm ms-auto w-auto">
                    <option value="sketchy">Sketchy</option>
                    <option value="cerulean">cerulean</option>
                    <option value="cosmo">Cosmo</option>
                    <option value="cyborg">cyborg</option>
                    <option value="darkly">Darkly</option>
                    <option value="flatly">Flatly</option>
                    <option value="journal">journal</option>
                    <option value="litera">litera</option>
                    <option value="lumen">lumen</option>
                    <option value="lux">lux</option>
                    <option value="materia">materia</option>
                    <option value="minty">minty</option>
                    <option value="pulse">pulse</option>
                    <option value="sandstone">Sandstone</option>
                    <option value="simplex">simplex</option>
                    <option value="slate">slate</option>
                    <option value="solar">solar</option>
                    <option value="spacelab">spacelab</option>
                    <option value="superhero">superhero</option>
                    <option value="united">united</option>
                    <option value="yeti">yeti</option>
                </select>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>